* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --white-text: #fff;
}

.header {
    background-image: url("./assets/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white-text);
    padding-block: 225px;
    border-radius: 0px 0px 150px 150px;
}


.max-width {
    max-width: 1296px;
    margin-left: auto;
}

/* ------------------------ nav section ------------------------------------ */
.nav-container {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 80px;
    transition: 0.5s;
}

.nav-content {
    padding-inline: 12px;
    max-width: 1296px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.menus-section {
    flex-grow: 1;
}


.menus-container {
    display: flex;
    min-height: 40px;
    justify-content: end;
}

.menus-container li {
    padding-inline: 10px;
}

.menus-container li a {
    color: inherit;
    padding-inline: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 15px;
    border-radius: 20px;
    transition: all 0.4s ease 0s;
}

.menus-container li:nth-child(1)>a,
.menus-container li>a:hover {
    background-color: rgba(255, 255, 255, 0.10);
}

.btn,
.menus-container li>.btn:hover {
    text-transform: uppercase;
    background-color: #ee626b;
}

.scroll {
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0px 0px 25px 25px;
    background-color: #0071f8;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
    z-index: 999;
    height: 80px;
}


.menu-trigger {
    cursor: pointer;
    height: 40px;
    display: none;
    align-items: center;
    margin-left: auto;
}

.hamburger-icon {
    height: 2px;
    width: 30px;
    background-color: #fff;
    position: relative;
    display: none;
    margin-left: auto;
}

.hamburger-icon::before {
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    height: 1px;
    width: 75%;
    background-color: #fff;
    display: block;
    transition: all 0.4s;
}

.hamburger-icon::after {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    height: 1px;
    width: 75%;
    background-color: #fff;
    display: block;
    transition: all 0.4s;
}

.checkbox {
    display: none;
}

.checkbox:checked+.menu-trigger>.hamburger-icon {
    background-color: transparent;
}

.checkbox:checked+.menu-trigger>.hamburger-icon::before,
.checkbox:checked+.menu-trigger>.hamburger-icon::after {
    height: 2px;
    width: 100%;
}

.checkbox:checked+.menu-trigger>.hamburger-icon::before {
    transform: translateY(-5px) translateX(5px) rotate(45deg);
    transform-origin: -12% 100%;
    width: 33px;
}

.checkbox:checked+.menu-trigger>.hamburger-icon::after {
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform-origin: 33% 0;
}

@media (max-width: 1400px) {
    .nav-content {
        max-width: 1140px;
    }
}

@media (max-width: 1200px) {
    .nav-content {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .nav-content {
        max-width: 720px;
    }

    .logo {
        width: 110px;
    }

    .menus-container li {
        padding-inline: 5px;
    }

    .menus-container li>a {
        padding-inline: 10px;
    }
}

@media (max-width: 764px) {
    .menu-trigger {
        display: flex;
    }

    .hamburger-icon {
        display: block;
    }

    .nav-container {
        top: 20px;
    }

    .scroll {
        top: 0px;
    }

    .hamburger-icon .nav-content {
        position: relative;
    }

    .menus-section {
        padding-inline: 12px;
        position: absolute;
        z-index: 999;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 564px;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease 0s;
    }

    .menus-container {
        background-color: #fff;
        color: black;
        flex-direction: column;
        margin-left: unset;
        border-radius: 0px 0px 25px 25px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    }

    .menus-container li {
        padding-inline: unset;
        border-top: 1px solid #eee;
    }

    .menus-container li a {
        height: 50px;
        line-height: 50px;
    }

    .menus-container .btn,
    .menus-container .btn:hover {
        background-color: unset !important;
    }

    .checkbox:checked~.menus-section {
        max-height: 500px;
    }

    body:has(.checkbox:checked) {
        pointer-events: fixed;
        overflow: hidden;
    }

}


/* ------------------------ banner secion ------------------------------------ */

.banner-content {
    max-width: 1296px;
    padding-inline: 12px;
    margin-inline: auto;
    display: flex;
}

.banner-text-container,
.banner-img-container {
    width: 100%;
}

.banner-text-container {
    align-self: center;
}

.banner-text-container p:nth-child(1) {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}

.banner-text-container h1 {
    font-size: 48px;
    margin: 20px 0 40px;
    position: relative;
}

.banner-text-container h1::after {
    content: '';
    background-image: url("./assets/caption-dec.png");
    width: 202px;
    height: 12px;
    position: absolute;
    left: 125px;
    bottom: 0;
}

.banner-text-container p:nth-child(3) {
    font-size: 14px;
    margin-bottom: 70px;
}

.form {
    max-width: 450px;
    background-color: #fff;
    display: flex;
    padding-inline: 25px;
    height: 50px;
    border-radius: 25px;
    position: relative;
}

.input {
    flex-grow: 1;
    border: none;
}

.input:focus {
    outline: none;
}

.form-btn {
    border-radius: inherit;
    border: none;
    background-color: #EE626B;
    padding-inline: 25px;
    color: inherit;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    height: 100%;
    right: 0;
    cursor: pointer;
}

.banner-img-container {
    display: flex;
    align-items: center;
}

.img-parent {
    margin-left: auto;
    position: relative;
}

.banner-img-container .banner-img {
    border-radius: 25px;
    max-width: 415px;
    width: 100%;
}

.price,
.offer {
    display: inline-block;
    font-weight: 700;
    position: absolute;
}

.price {
    font-size: 22px;
    background-color: #008AF8;
    padding: 4px 15px;
    border-radius: 25px;
    right: 20px;
    top: 20px;
}

.offer {
    background-color: #EE626B;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    left: -25px;
    bottom: -25px;
}

@media (max-width: 1400px) {
    .banner-content {
        max-width: 1140px;
    }

    .banner-img-container .banner-img {
        max-width: 356px;
    }
}

@media (max-width: 1200px) {
    .banner-content {
        max-width: 960px;
    }

    .banner-img-container .banner-img {
        max-width: 296px;
    }
}

@media (max-width: 992px) {
    .banner-content {
        max-width: 720px;
        flex-direction: column;
    }

    .banner-text-container {
        text-align: center;
        margin-bottom: 45px;
    }

    .form {
        max-width: unset;
        width: 100%;
    }

    .img-parent {
        margin-left: unset;
        width: 100%;
    }

    .banner-img-container .banner-img {
        max-width: unset;
    }
}

@media (max-width: 764px) {
    .header {
        padding-block: 180px;
    }

    .banner-content {
        max-width: 540px;
    }

    .offer {
        left: 10px;
        bottom: 20px;
    }
}

@media (max-width: 450px) {
    .banner-text-container h1::after {
        left: 30px;
    }
}

/* --------------------- features section ---------------------- */

.features-container {
    margin-top: -80px;
}

.features-content {
    max-width: 1296px;
    margin-inline: auto;
    padding-inline: 12px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature-card-container {
    width: 25%;
    padding-inline: 12px;
    cursor: pointer;
}

.features-card {
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px;
}

.image-container {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 113, 248);
    transition: 0.3s;
}

.image-container:hover {
    background-color: rgb(238, 98, 107);
}

.features-card h4 {
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 17px;
}

@media (max-width: 1400px) {
    .features-content {
        max-width: 1140px;
    }
}

@media (max-width: 1200px) {
    .features-content {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .features-content {
        max-width: 720px;
    }

    .feature-card-container {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 764px) {

    .features-content {
        max-width: 540px;
    }

    .feature-card-container {
        width: 100%;
    }
}